[Unit]
Description=Beholder Boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/beholder_boot.sh start
ExecStop=/usr/bin/beholder_boot.sh stop
 
[Install]
WantedBy=sysinit.target